@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


.global-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16423C;
    color: white;
    padding: 10px 20px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Medium bold */
}

.header-left .header-title {
    font-size: 18px;
    font-weight: bold;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.username {
    font-size: 16px;
}

.user-icon {
    font-size: 24px;
    cursor: pointer;
}